// Custom styling

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px; /* Margin bottom by footer height */
  color: black;
}

.blog-text-border {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #fff;
  border-radius: 0.3rem;
}

@media (min-width: 576px) {
  .blog-text-border {
    padding: 2rem 2rem;
  }
}

.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.navbar{
  margin-bottom: 40px;
}

.footer {
  position: absolute;
  vertical-align: middle;
  display: table;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 80px;
  line-height: 40px;
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.footer p {
  margin: 20px 0;
  color: black;
}

body > .container {
  padding: 95px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}